<div class="container">
    <div>
    <h2>Ajouter un Animateur :</h2>
    </div>
    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >ID Produit</label>
        <input type="text" [(ngModel)]="newAnimateur.idAnimateur"
        name="idAnimateur" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Nom Animateur</label>
        <input type="text"[(ngModel)]= "newAnimateur.nomAnimateur"
        name="nomAnimateur" class="form-control">
        </div>
       
        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date Confirmation</label>
        <input type="date" [(ngModel)]= "newAnimateur.dateConfirmation"
        name="dateConfirmation" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Tv</label>
            <select class="form-control form-control-lg" id="idTv" name="idTv"
            [(ngModel)]="newIdTv">
             <option *ngFor="let tv of tvs" [value]="tv.idTv" >
             {{tv.nomTv}}
            </option>
            </select>
            </div>
        <div class="mt-2">
        <button type="submit" (click)="addAnimateur()"class="btn btn-success">Ajouter</button>
        </div>
        </form>
    </div>
    <router-outlet></router-outlet>